.containter-charters{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.containter-charters>div{
    margin: 10px;
}
a{
    display: flex;
    justify-content: end;
}
.img-fav{
    width: 40px;
}

.img-fav:hover{
   scale: 1.2;
   transition: ease-in 0.5s ;
}