<h3 class="title">Charters</h3>
<div class="containter-charters">
    <div *ngFor="let charter of charters" class="card" style="width: 18rem;">
        <img [src]="charter.image" class="card-img-top" alt="imagen de {{charter.name}}">
        <div class="card-body">
            <h3 class="card-text">{{charter.name}}</h3>
            <p class="card-text">{{charter.gender}}</p>
            <p class="card-text">{{charter.species}}</p>
            <p class="card-text" [ngClass]="{'status-alive': charter.status === 'Alive', 'status-dead': charter.status === 'Dead'}">{{charter.status}}</p>
            <a (click)='addToFavorite(charter)'><img src="https://images.emojiterra.com/google/android-oreo/512px/2764.png" class="img-fav" alt=""></a>
        </div>
    </div>
</div>
