li>a{
    font-size: 25px;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul>li{
    margin:0px 10px 0px 10px;
}
.containter-home{
    display: flex;
    justify-content: center;
}
.containter-list-favorite-charters{
    background-color: rgb(136, 114, 84);
    padding: 20px;
}