li>a{
    font-size: 25px;
}
nav{
    background-color: #eeecd7;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul>li{
    margin:0px 10px 0px 10px;
}
.containter-home{
    background-color: #dbd7ac;
    display: flex;
    justify-content: center;
    
}

