<div class="container">
        <h1>Rick and Morty</h1>
        <p>Rick and Morty es una serie de comedia animada para adultos de ciencia ficción estadounidense creada por Justin Roiland y Dan Harmon. La serie sigue las desventuras de un excéntrico científico alcohólico llamado Rick Sánchez y su nieto de buen corazón pero fácilmente influenciable, Morty Smith, quienes dividen su tiempo entre la vida doméstica y las aventuras interdimensionales.</p>
        <p>El programa se estrenó el 2 de diciembre de 2013 y desde entonces ha ganado un seguimiento de culto por su humor único, personajes complejos y narrativa ingeniosa. Ha recibido elogios de la crítica y ha ganado varios premios, incluido un Premio Emmy del Horario Estelar por Programa Animado Destacado.</p>
        <p>Rick and Morty ha explorado una amplia gama de temas, incluyendo el existencialismo, la dinámica familiar y la naturaleza de la realidad, todo mientras mantiene su distintiva mezcla de humor irreverente y conceptos que invitan a la reflexión.</p>
        <p>Concluida su cuarta temporada y con más temporadas en desarrollo, Rick and Morty sigue cautivando a las audiencias con su universo imaginativo y sus personajes convincentes.</p>
</div>
    
