<h3 class="title">favorite charters</h3>
<div class="containter-list-charters-favorite">
    <div *ngFor ="let charter of chartersFavorite" class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="charter.image" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{charter.name}}</h5>
              <p class="card-text">{{charter.gender}}</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
