<h3 class="title">favorite charters</h3>
<div class="containter-list-charters-favorite">
    <div *ngFor ="let charter of chartersFavorite" class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="charter.image" class="img-fluid rounded-start" alt="imagen de {{charter.name}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="containter-name-cancel">
                <h5 class="card-title">{{charter.name}}</h5>
                <a (click)="removeToFavorite(charter)"><img src="https://cdn-icons-png.flaticon.com/512/75/75519.png">
                </a>
              </div>
              <p class="card-text">{{charter.gender}}</p>
            </div>
          </div>
        </div>
    </div>
</div>
