.card{
    box-shadow: 1px 1px 10px black;
}
.containter-name-cancel{
    display: flex;
    justify-content: space-between;
}
a>img{
    height: 20px;
    margin-bottom: 3px;
}
a:hover{
    cursor: pointer;
}